<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666806924822-a97453dm9u1mh367d27cr2u0lbmtfqbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666806924822-a97453dm9u1mh367d27cr2u0lbmtfqbg</string>
	<key>API_KEY</key>
	<string>AIzaSyA16lWkj1SC9B7lduRyJT5Y5H4wUCz5vuM</string>
	<key>GCM_SENDER_ID</key>
	<string>666806924822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kintree.weview.weview</string>
	<key>PROJECT_ID</key>
	<string>weview-365ae</string>
	<key>STORAGE_BUCKET</key>
	<string>weview-365ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666806924822:ios:8f4f6aaa9d669715a76737</string>
</dict>
</plist>